<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The online resume of Vanessa Mendoza.">
    <meta name="keywords" content="Full Stack Developer">
    <meta name="author" content="Vanessa Mendoza">

    <title>Vanessa Mendoza - Full Stack Developer Resume/Portfolio Website</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/main.css" rel="stylesheet">
<body>

<header class="site-navigation">
    <div class="nav-container">
        <i class="nav-toggle fa fa-2x fa-bars" aria-hidden="true" id="toggle-open"></i>
        <nav class="nav-menu">
            <div class="nav-mobile-header">
                <span class="primary">V</span>
                <strong class="secondary">M</strong>
                <i class="nav-toggle fa fa-2x fa-close" aria-hidden="true" id="toggle-close"></i>
            </div>
            <a href="home">Home</a>
            <a href="experience">Experience</a>
        </nav>
    </div>
</header>
<main>
    <section class="section alt-bg" id="contact">
        <header class="section-header">
            <div class="small-container">
                <h2>Contact</h2>
                <p>I'd love to hear from you.</p>
            </div>
        </header>
        <div class="small-container">
            <form action="https://formspree.io/v.mendoza1@gmail.com" method="post">
                <label for="name">Name</label>
                <input type="text" id="name">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="_replyto">
                <label for="message">Message</label>
                <textarea id="message" name="message" cols="30" rows="10"></textarea>
                <input type="text" name="_gotcha" style="display:none">
                <input type="submit" value="Send">
            </form>
        </div>
    </section>

</main>

<script src="js/scripts.js"></script>
<script src="js/prism.js"></script>
</body>

</html>

