<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The online resume of Vanessa Mendoza.">
    <meta name="keywords" content="Full Stack Developer">
    <meta name="author" content="Vanessa Mendoza">

    <title>Vanessa Mendoza - Full Stack Developer Resume/Portfolio Website</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/main.css" rel="stylesheet">
<body>

<header class="site-navigation">
    <div class="nav-container">
        <i class="nav-toggle fa fa-2x fa-bars" aria-hidden="true" id="toggle-open"></i>
        <nav class="nav-menu">
            <div class="nav-mobile-header">
                <span class="primary">V</span>
                <strong class="secondary">M</strong>
                <i class="nav-toggle fa fa-2x fa-close" aria-hidden="true" id="toggle-close"></i>
            </div>
            <a href="home">Home</a>
            <a href="contact">Contact</a>
        </nav>
    </div>
</header>

<main>

    <section class="section offset" id="experience">
        <header class="section-header">
            <div class="small-container">
                <h2>Experience</h2>
                <p>Some of the professional positions I've held.</p>
            </div>
        </header>
        <div class="container">
            <div class="flex job">
                <div class="job-title">
                    <div class="job-company">
                        <div class="dates">Sept 2021 - Jan 2023</div>
                    </div>
                </div>
                <div class="job-description">
                    <h3>Oriental Gemco/ Account Executive</h3>
                    <ul>
                        <li>Managed customer account by ensuring client's satisfaction
                        </li>
                        <li>Attended domestic trade shows and aided in the acquirement of new customers by merchandising
                            product
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex job">
                <div class="job-title">
                    <div class="job-company">
                        <div class="dates">Jan 2018 - Feb 2020</div>
                    </div>
                </div>
                <div class="job-description">
                    <h3>Jester Development/ Executive Assistant</h3>
                    <ul>
                        <li>Established relationships with potential business partners for the purpose of progressing
                            software development
                        </li>
                        <li>Conducted intensive industry research as a means to identify target market needs and tailor
                            product
                        </li>
                        <li>Created PowerPoint presentations illustrating software capabilities to secure two rounds of
                            funding
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="js/scripts.js"></script>
<script src="js/prism.js"></script>
</body>

</html>
